@use "@styles/color";
@use "@styles/space";

.listItem {
  height: space.$s12;
  display: flex;
  align-items: center;
  margin-top: space.$s1;
  padding: space.$s0 space.$s3;
  background: transparent;
  border-radius: 6px;
}

.listItem.active {
  background: color.$gray-700;
}

.listItem:first-child {
  margin-top: 0;
}

.anchor {
  cursor: pointer;

  /* remove default button styles */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  display: flex;
  align-items: center;
  color: color.$gray-100;
  text-decoration: none;
}

.icon {
  width: space.$s6;
  margin-right: space.$s3;
  transition: all 300ms ease;

  &.rotate {
    transform: rotate(180deg);
  }
}
