@use "@styles/space";
@use "@styles/color";
@use "@styles/font";

.container {
  display: flex;
  padding: space.$s4;
  justify-content: space-between;
  align-items: center;
  gap: space.$s3;
  border-radius: space.$s2;
  border: 1px solid color.$error-300;
  background: color.$error-25;
  font: font.$text-sm-medium;
  color: color.$error-700;
}

.message {
  margin-right: auto;
  align-self: stretch;
}

.anchor {
  display: flex;
  align-items: center;
  gap: space.$s2;
  text-decoration: none;
  font: font.$text-sm-medium;
  color: color.$error-700;
}

.icon {
  width: space.$s5;
}
